:root {
  /* Primary colors */
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral colors */
  --Transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs*/
  --Very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons*/

  /* Fonts */
  --Title-font: 'Big Shoulders Display', cursive;
  --Paragraph-font: 'Lexend Deca', sans-serif;
  --Title-size: 3.4rem;
  --Paragraph-size: 1.5rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Very-light-gray);
  color: var(--Very-light-gray);
}
.section-name,
.page-name {
  display: none;
}
.car-cards {
  display: flex;
  width: 920px;
  height: 500px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 46px 50px 40px 46px;
}
.header-car__figure-logo {
  width: 7rem;
  height: 4rem;
}
.header-card__title {
  margin-top: 4rem;
  font-size: var(--Title-size);
  font-family: var(--Title-font);
  font-weight: 700;
  text-transform: uppercase;
}
.card__text {
  font-family: var(--Paragraph-font);
  font-size: var(--Paragraph-size);
  font-weight: 400;
}
.card__footer {
  position: absolute;
  bottom: 6rem;
}
.card__footer__button {
  padding: 1.4rem 3rem;
  border-radius: 3rem;
  border: 2px solid var(--Very-light-gray);
  background-color: var(--Very-light-gray);
}
.card__footer__button-text--sedans {
  color: var(--Bright-orange)
}
.card__footer__button-text--suvs {
  color:var(--Dark-cyan)
}
.card__footer__button-text--luxury {
  color:var(--Very-dark-cyan)
}
.card__footer__button:hover {
  cursor: pointer;
  border: 2px solid var(--Very-light-gray);
  background: transparent;
}
.card__footer__button:hover .card__footer__button-text {
  color: var(--Very-light-gray);
}
.card__footer__button-text {
  font-size: var(--Paragraph-size);
  font-family: var(--Paragraph-font);
}
.card-sedans {
  border-top-left-radius: 1.6rem;
  border-bottom-left-radius: 1.6rem;
  background: var(--Bright-orange);
}
.card-suvs {
  background: var(--Dark-cyan);
}
.card-luxury {
  border-top-right-radius: 1.6rem;
  border-bottom-right-radius: 1.6rem;
  background: var(--Very-dark-cyan);
}
@media (max-width:925px) {
  .main {
    height: 100%;
  }
  .car-cards{
    width: 300px;
    height: 100%;
    margin: 1.8rem;
    flex-direction: column;
  }
  .card {
    width: 300px;
    gap: 24px;
  }
  .header-car__figure-logo {
    width: 4.6rem;
    height: 2.7rem;
  }
  .header-card__title {
    margin-top: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .card__footer {
    position: static;
    margin-top: 1.6rem;
  }
  .card-sedans {
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    border-bottom-left-radius: 0;  
    background: var(--Bright-orange);
  }
  .card-luxury {
    border-top-right-radius: 0;
    border-bottom-left-radius: 1.6rem;
    border-bottom-right-radius: 1.6rem;
    background: var(--Very-dark-cyan);
  }
}